* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.chicken,
.beef,
.sushi {
  background-color: grey;
  border: black solid 2px;
  margin-left: 20px;
  margin-top: 20px;
}

.chicken > div {
  background-color: hotpink;
  width: 120px;
  padding: 3px;
  float: right;
  text-align: center;
  vertical-align: middle;
  color: black;
  border-left: black solid 2px;
  border-bottom: black solid 2px;
}

.beef > div {
  background-color: red;
  width: 120px;
  padding: 3px;
  float: right;
  text-align: center;
  color: white;
  border-left: black solid 2px;
  border-bottom: black solid 2px;
}
.sushi > div {
  background-color: yellow;
  width: 120px;
  padding: 3px;
  float: right;
  text-align: center;
  color: black;
  border-left: black solid 2px;
  border-bottom: black solid 2px;
}

.chicken > p,
.beef > p,
.sushi > p {
  clear: right;
  padding: 15px 5px 0px 5px;
}

/* Desktop PC view */

@media (min-width: 992px) {
  .chicken,
  .beef,
  .sushi {
    float: left;
    width: 31.3%;
  }
}

/* Tablet PC view */
@media (min-width: 768px) and (max-width: 991px) {
  .chicken,
  .beef {
    width: 46.8%;
    float: left;
  }
  .sushi {
    width: 96%;
    float: left;
  }
}

/* Cell phone view */
@media (max-width: 767px) {
  .chicken,
  .beef,
  .sushi {
    width: 95%;
    float: left;
  }
}
